<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="keyDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=H:\C#\1C winForm\1C winForm\DataBase\DataBase.mdf;Integrated Security=True" />
  <add name="_1C_winForm.Properties.Settings.DataBaseConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBase\DataBase.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>